@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
	text-align: center;
	background-image: url(https://i.pinimg.com/originals/88/d0/fc/88d0fc32cf84ff43090c4e9a7a7d348f.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;

}

header  {
	overflow: hidden;
	background-color: black;
	padding: 20px 10px;
	color: white;
}

a {
	color: white;
}

h1 {
	margin-top: 24px;
}

h2 {
	margin-bottom: 24px;
}

form {
  background:rgba(118, 0, 140, 0.9);
  border-radius:10px;
  padding:16px;
  width:500px;
  margin: auto;
  color: white;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.360);
  text-align: initial;
}

.box1 {
	width: 90%;
    margin: 4px 0 4px 0px;
    height: 21px;
    border-radius: 6px;
    color: black;
}